# ------------------------
# Virtual Environments
# ------------------------
.venv/
venv/
ENV/
env/

# ------------------------
# Python cache / build
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# ------------------------
# Jupyter
# ------------------------
.ipynb_checkpoints/

# ------------------------
# OS / Editor
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
